.cardList{
    max-width: 70vw;
    margin-bottom: 15px;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;

}

/* GENERO UN CONTENEDOR, EL CUAL OCUPA EL 80 DEL DISPOSITIVO. ADEMAS HAY MARGEN, PADING PARA MARGEN INTERNO Y EL DISPLAY ES IMPORTANTE YA QUE SE ACOMODAN EN UNA TIPO CUADRICULA
EL DISENO EN GRID TEMPLATE OSEA ARME 4 COLUMNAS Y UN GAP PARA QUE ESTEN SEPARADAS ENTRE SI */